altair==5.1.2
backports.zoneinfo==0.2.1
blinker==1.6.3
cachetools==5.3.2
click==8.1.7
et-xmlfile==1.1.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.40
joblib
markdown-it-py==3.0.0
mdurl==0.1.2
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
protobuf==3.20.3
pyarrow==13.0.0
pydeck==0.8.1b0
Pympler==1.0.1
rich==13.6.0
scikit-learn 
scipy==1.10.1
semver==3.0.2
smmap==5.0.1
statsmodels 
streamlit==1.28.0
toml==0.10.2
toolz==0.12.0
tzlocal==5.2
validators==0.22.0
webencodings==0.5.1
xgboost==1.7.3
